In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime, timedelta

In [12]:
# contains the lost dates in the dataset
lost_dates_df = pd.read_csv("csv/lost_date.csv")
# map each year+calendar_week to a quarter week
q_week = pd.read_csv("csv/q_week.csv")

In [13]:
lost_dates = pd.to_datetime(lost_dates_df["lost_date"]).unique()

In [14]:
from sqlalchemy import create_engine, Column, Integer, String, DateTime, and_, distinct, func
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy.sql import select
import urllib

conn_string_odbc="Driver={ODBC Driver 18 for SQL Server};Server=tcp:smartspace.database.windows.net,1433;Database=connectionspace;Uid=stats170-G6;Pwd=cro-r5sweDlVay5t=eta;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
params = urllib.parse.quote_plus(conn_string_odbc)
conn_str_formatted = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str_formatted)
# engine to get to lctr_complete
# engine = create_engine('postgresql+psycopg2://postgres:1234@localhost/SmartSpaceAnalysis')

# all below codes is to help interact with observation_clean in python instead of sql
Base = declarative_base()
Session = sessionmaker(bind=engine)
class ObservationClean(Base):
    __tablename__ = 'lctr_complete'
    __table_args__ = {'schema': 'dbo'}  # Specify the schema
    observation_id = Column(Integer, primary_key=True)
    macAddress = Column(String)
    sensor = Column(String)
    connection_time = Column(DateTime)
    predicted_region_id = Column(Integer)
    predicted_region_name = Column(String)
    
Session = sessionmaker(bind=engine)

In [15]:
quarters = ['summer17', 'summer17_break', 'f17', 'f17_break', 'w18', 'w18_break', 's18', 's18_break', 'summer18', 'summer18_break', 'f18', 'f18_break', 'w19', 'w19_break', 's19']
quarter_no_break = [q for q in quarters if "_break" not in q]
quarter_no_summer = [q for q in quarter_no_break if "summer" not in q]
calendar17_18_19 = {
    "summer17": [datetime(2017, 6, 26), datetime(2017, 9, 13), datetime(2017, 9, 25)],
    "f17": [datetime(2017, 9, 25), datetime(2017, 12, 15), datetime(2018, 1,  3)],
    "w18": [datetime(2018, 1,  3), datetime(2018,  3, 23), datetime(2018, 3, 28)],
    "s18": [datetime(2018, 3, 28), datetime(2018,  6, 15), datetime(2018, 6, 25)],
    "summer18": [datetime(2018, 6, 25), datetime(2018, 9, 12), datetime(2018, 9, 24)],
    "f18": [datetime(2018, 9, 24), datetime(2018, 12, 14), datetime(2019, 1,  2)],
    "w19": [datetime(2019, 1,  2), datetime(2019,  3, 22), datetime(2019, 3, 27)],
    "s19": [datetime(2019, 3, 27), datetime(2019,  6, 14), datetime(2019, 6, 24)]
}

In [16]:
rtc = pd.read_csv("csv/RegionToCoverage.csv")
rtc = rtc.rename({
    "space_name.1" : "sensor_id",
    "intersectionpercentage" : "percent"}, axis=1)
if set(["region_id", "wapcov_id"]).issubset(rtc.columns.to_list()):
    rtc.drop(["region_id", "wapcov_id"], axis=1, inplace=True)

rtc

                         space_name       sensor_id   percent
0    ArchitectureandembeddedSystems  3143-clwa-3219  0.000000
1    ArchitectureandembeddedSystems  3143-clwa-3209  0.000000
2    ArchitectureandembeddedSystems  3143-clwa-3231  0.000000
3    ArchitectureandembeddedSystems  3143-clwa-3039  0.000000
4    ArchitectureandembeddedSystems  3143-clwa-3019  0.000000
..                              ...             ...       ...
203    MultimediaNetworksAndSystems  3143-clwa-3019  0.521467
204    MultimediaNetworksAndSystems  3143-clwa-3099  0.000000
205    MultimediaNetworksAndSystems  3143-clwa-3065  0.000000
206    MultimediaNetworksAndSystems  3143-clwa-3059  0.000000
207    MultimediaNetworksAndSystems  3143-clwa-3051  0.037432

[208 rows x 3 columns]

In [17]:
# for each sensor_id choose the group that has highest intersection percentage as the space_name of that sensor_id
idx = rtc.groupby(["sensor_id"])["percent"].transform("max") == rtc.percent
# store it in rtc121
rtc121 = rtc[idx].copy()

# rename the space_name to match the desired subgroups of resident
rtc121.loc[rtc121.space_name.str.contains("Class"), "space_name"] = "CLASS"
rtc121.loc[rtc121.space_name.str.contains("Department"), "space_name"] = "STAFF"
rtc121.loc[rtc121.space_name.str.contains("Staff"), "space_name"] = "STAFF"
rtc121.loc[rtc121.space_name.str.contains("ArchitectureandembeddedSystems"), "space_name"] = "Systems"
'''
rtc121["space_name"] = rtc121["space_name"].str.replace("MachineLearningAndGraphics", "ML")
rtc121["space_name"] = rtc121["space_name"].str.replace("Informatics", "INF")
'''
rtc121["space_name"] = rtc121["space_name"].str.replace("InformationandSystemGroup", "ISG")
rtc121["space_name"] = rtc121["space_name"].str.replace("MultimediaNetworksAndSystems", "MNS")

rtc121.loc[rtc121.space_name.str.contains("MachineLearningAndGraphics"), "space_name"] = "ML"
rtc121.loc[rtc121.space_name.str.contains("Informatics"), "space_name"] = "INF"
rtc121.loc[rtc121.space_name.str.contains("Stats"), "space_name"] = "STATS"

In [18]:
rtc.space_name.unique()

array(['ArchitectureandembeddedSystems', 'CommunicationMediaDepartment',
       'DeansStaff', 'FacilitiesDepartment', 'FinancialDepartment',
       'Informatics1', 'Informatics3', 'Informatics2', 'Stats2', 'Stats1',
       'InformationandSystemGroup', 'MachineLearningAndGraphics3',
       'MachineLearningAndGraphics2', 'MachineLearningAndGraphics1',
       'NorthClassroom', 'SouthClassroom', 'InnerClassroom', 'Systems',
       'StaffCSDepartment', 'MultimediaNetworksAndSystems'], dtype=object)

In [19]:
rtc121.space_name.unique()

array(['Systems', 'STAFF', 'INF', 'STATS', 'ISG', 'ML', 'CLASS', 'MNS'],
      dtype=object)

In [20]:
rtc121.sensor_id.nunique()

64

In [21]:
cs_groups = rtc121[rtc121.space_name.str.contains("ML")].space_name.unique()
cs_groups = np.union1d(cs_groups,['Systems', 'MNS', "ISG"])
cs_groups

array(['ISG', 'ML', 'MNS', 'Systems'], dtype=object)

### Test run of Spring 2018

In [22]:
quarter = "s18"

In [23]:
def getObCleanOfQuarter(start_time, end_time):

    session = Session()
    q_obclean =  session.query(ObservationClean).filter(
        ObservationClean.connection_time.between(start_time, end_time) # timestamp in the time frame of this quarter
    ).all()
    
    session.close()
    return pd.DataFrame(
    [
        {
            'payload': result.macAddress,
            'timestamp': result.connection_time,
            'sensor_id': result.predicted_region_name
        } for result in q_obclean
    ]
)

In [24]:
start_time = calendar17_18_19[quarter][0]
end_time = calendar17_18_19[quarter][1] + timedelta(days=1) - timedelta(seconds=1)

ob_clean_quarter = getObCleanOfQuarter(start_time, end_time)

In [25]:
# ob_clean_quarter = ob_clean_quarter[ob_clean_quarter.sensor_id.str[-4] != "1"]

In [26]:
def getFeaturesFromTimestamp(ob_clean_quarter):
    ob_clean_quarter["per_15min"] = ob_clean_quarter.timestamp.dt.minute // 15
    ob_clean_quarter["hour"] = ob_clean_quarter.timestamp.dt.hour
    ob_clean_quarter["date"] = pd.to_datetime(ob_clean_quarter.timestamp.dt.date)
    ob_clean_quarter["day_of_week"] = ob_clean_quarter.date.dt.day_of_week
    ob_clean_quarter["calendar_week"] = ob_clean_quarter.date.dt.isocalendar().week
    ob_clean_quarter["year"] = ob_clean_quarter.date.dt.year

In [27]:
getFeaturesFromTimestamp(ob_clean_quarter)
total_days = ob_clean_quarter.date.nunique()

In [28]:
# Assign quarter weeks
ob_clean_quarter = pd.merge(ob_clean_quarter, q_week, on=["year", "calendar_week"], how= "left")
ob_clean_quarter.dtypes

payload                  object
timestamp        datetime64[ns]
sensor_id                object
per_15min                 int32
hour                      int32
date             datetime64[ns]
day_of_week               int32
calendar_week            UInt32
year                      int32
quarter_week              int64
dtype: object

In [29]:
# Assign each connection to a space_name
ob_clean_quarter = ob_clean_quarter.merge(rtc121, on="sensor_id", how="left")
ob_clean_quarter.dtypes

payload                  object
timestamp        datetime64[ns]
sensor_id                object
per_15min                 int32
hour                      int32
date             datetime64[ns]
day_of_week               int32
calendar_week            UInt32
year                      int32
quarter_week              int64
space_name               object
percent                 float64
dtype: object

In [30]:
ob_clean_quarter[["payload", "timestamp", "sensor_id", "per_15min", "day_of_week", "quarter_week", "space_name"]].sort_values("timestamp")

,payload,timestamp,sensor_id,per_15min,day_of_week,quarter_week,space_name
0,6fd10a34363a7fcc106d30f6d490c785140c4d54,2018-03-28 00:00:00,3146-clwa-6131,0,2,0,STAFF
1,bcc3283da072800562560f35b39ba19ae9f0fa00,2018-03-28 00:00:00,3145-clwa-5019,0,2,0,INF
2,31149b6feca0e7f67217aca2fdd5a4bfc4e9be9e,2018-03-28 00:00:05,3143-clwa-3039,0,2,0,STAFF
3,31149b6feca0e7f67217aca2fdd5a4bfc4e9be9e,2018-03-28 00:00:05,3143-clwa-3039,0,2,0,STAFF
4,434c3f6aca55d26ec9cad34fc3cd93696fc4d8fa,2018-03-28 00:00:07,3146-clwa-6122,0,2,0,STAFF
...,...,...,...,...,...,...,...
3146341,b0d3222b4a86f9767b3e30fc079d80a3653a8953,2018-06-15 23:59:19,3143-clwa-3039,3,4,11,STAFF
3146343,9e3885e3afbf1a29650ee2d47a4b355f872d98e2,2018-06-15 23:59:19,3144-clwa-4209,3,4,11,ML
3146346,f20a461904e9952a4a158cbc58918a04ed77a213,2018-06-15 23:59:58,3146-clwa-6029,3,4,11,STAFF
3146344,434c3f6aca55d26ec9cad34fc3cd93696fc4d8fa,2018-06-15 23:59:58,3146-clwa-6122,3,4,11,STAFF
3146345,434c3f6aca55d26ec9cad34fc3cd93696fc4d8fa,2018-06-15 23:59:58,3146-clwa-6122,3,4,11,STAFF

In [31]:
def getFridayConferenceVisit(ob_clean_quarter : pd.DataFrame, quarter):
   visits = ob_clean_quarter[(ob_clean_quarter.sensor_id == "3146-clwa-6011") &
      (ob_clean_quarter.day_of_week == 4) &
      (ob_clean_quarter.timestamp.dt.time >= pd.to_datetime('10:45:00').time()) &
      (ob_clean_quarter.timestamp.dt.time <= pd.to_datetime('12:00:00').time())].groupby("quarter_week", as_index=False)["payload"].nunique()
   visits.insert(loc = 0, column="quarter", value=quarter)
   return visits

In [32]:
def getGroupedFeatures(df):
    return df.groupby("payload",as_index=False).agg(
        unique_days = ("date", "nunique"),
        date_range = ("date", lambda x : pd.date_range(start = x.min(), end = x.max(), freq="D")),
        unique_DOWs = ("day_of_week", "nunique"),
        unique_weeks = ("calendar_week", "nunique"),
    )

In [33]:
df_grouped = getGroupedFeatures(ob_clean_quarter)

In [34]:
# In the date range from first to last connection, remove the dates that were lost in the dataset
def getLastFirstSeenFromDateRange(df_grouped, lost_dates):
    df_exploded = df_grouped.explode('date_range')
    df_filtered = df_exploded[~(df_exploded['date_range'].isin(lost_dates))]
    lfs = df_filtered.groupby("payload", as_index= False)['date_range'].agg(last_first_seen = "nunique")
    return df_grouped.merge(lfs,on="payload")

In [35]:
df_grouped = getLastFirstSeenFromDateRange(df_grouped, lost_dates)
df_grouped.sort_values("unique_days", ascending=False)

,payload,unique_days,date_range,unique_DOWs,unique_weeks,last_first_seen
11575,66d14cc8fd21f9f78cc43d22f25f5f80a1153fc6,80,"[2018-03-28 00:00:00, 2018-03-29 00:00:00, 201...",7,12,80
21754,c1cb780650674e6c373ee4ea6336c5278e279fd0,80,"[2018-03-28 00:00:00, 2018-03-29 00:00:00, 201...",7,12,80
18058,a0f456fd510d11d0c9eb9ec60b5d7c1a9c5c7ec8,80,"[2018-03-28 00:00:00, 2018-03-29 00:00:00, 201...",7,12,80
19883,b14c73188d029df458ca4097c62cda569f8fd827,80,"[2018-03-28 00:00:00, 2018-03-29 00:00:00, 201...",7,12,80
14356,7f900ae12af52bd24b6773856ff79a682849149c,80,"[2018-03-28 00:00:00, 2018-03-29 00:00:00, 201...",7,12,80
...,...,...,...,...,...,...
13176,74d10ebb31e4b73e5a58b777170d506928a202b8,1,2018-04-27 00:00:00,1,1,1
13175,74d0dd138adac4a53f4e23ab2adbab34aa6a0af0,1,2018-04-04 00:00:00,1,1,1
21339,be4f3d845a7184d1d064771b6ab7f1bb256f38ce,1,2018-05-01 00:00:00,1,1,1
21340,be4f5a6fbbc97b5e673d0cc3f56c94b3d3d76295,1,2018-05-02 00:00:00,1,1,1
17569,9c84ab0f99ae358ea24c62ea3f97aa43ed85eda2,1,2018-04-18 00:00:00,1,1,1

In [36]:
def getVisitor(df_grouped, total_days):
    return df_grouped[(df_grouped.unique_days <= df_grouped.last_first_seen * 2/7) |
                      (df_grouped.unique_DOWs <= 2) |
                      (df_grouped.last_first_seen <= total_days / 2)].payload

In [37]:
visitor = getVisitor(df_grouped, total_days)
visitor.shape

(27178,)

In [38]:
df_grouped_no_vis = df_grouped[~(df_grouped.payload.isin(visitor))]
ocq_no_vis = ob_clean_quarter[~(ob_clean_quarter.payload.isin(visitor))]
ocq_no_vis.dtypes

payload                  object
timestamp        datetime64[ns]
sensor_id                object
per_15min                 int32
hour                      int32
date             datetime64[ns]
day_of_week               int32
calendar_week            UInt32
year                      int32
quarter_week              int64
space_name               object
percent                 float64
dtype: object

In [39]:
def getStatic(ob_clean_quarter):
    nightMAC = ob_clean_quarter[(ob_clean_quarter.timestamp.dt.time >= pd.to_datetime('23:30:00').time()) |
                                (ob_clean_quarter.timestamp.dt.time <= pd.to_datetime('06:00:00').time())].payload.unique()
    
    per_15min = ob_clean_quarter.drop(["year", "timestamp", "percent"], axis=1).drop_duplicates()

    sensor_count_per_15min = per_15min.groupby(["payload", "sensor_id", "space_name"], as_index= False).agg(
        connection_count = ("hour", "count")
    )

    sensor_count_per_15min["percentage"] = sensor_count_per_15min["connection_count"] / sensor_count_per_15min.groupby(["payload"])['connection_count'].transform('sum')
    top2_percentages = sensor_count_per_15min.groupby('payload')['percentage'].nlargest(2).reset_index()
    top2_sum = top2_percentages.groupby('payload',as_index=False)["percentage"].sum()
    stillMAC = top2_sum[top2_sum.percentage > 0.8].payload.unique()
    return np.intersect1d(nightMAC, stillMAC)

In [40]:
static = getStatic(ocq_no_vis)
len(static)

166

In [41]:
ocq_res_check = ocq_no_vis[~(ocq_no_vis.payload.isin(static))].drop(["year", "timestamp", "sensor_id"], axis=1).drop_duplicates()
ocq_res_check.dtypes

payload                  object
per_15min                 int32
hour                      int32
date             datetime64[ns]
day_of_week               int32
calendar_week            UInt32
quarter_week              int64
space_name               object
percent                 float64
dtype: object

In [42]:
def findHome(ocq_res_check):
    # for each payload of each date, count how many 15 minute blocks spent in each space_name, this count is scaled by how much does the WAP of this connectivity event cover the space_name
    find_home = ocq_res_check.groupby(["payload", "date", "space_name"],as_index=False)["percent"].sum().rename({"percent": "day_space_connection"}, axis = 1)
    # convert count to percentage
    find_home["day_space_association"] = find_home["day_space_connection"]/find_home.groupby(["payload", "date"])["day_space_connection"].transform("sum")

    # For everyday, find the space_name that mac spent most time in <= the purpose of their visit
    idx = find_home.groupby(["payload", "date"])["day_space_connection"].transform("max") == find_home.day_space_connection
    day_purpose = find_home[idx]

    # For each payload, each row of day_purpose has a space_name that is the purpose of their visit of that day

    # For each payload and space_name, find the total day_space_association as "days_home_scaled"
    quarter_purpose = day_purpose.groupby(["payload", "space_name"],as_index=False).agg(days_home_scaled = ("day_space_association", "sum"))
    
    # Total day_space_association of each mac across all space_name
    total_scaled_day = day_purpose.groupby(["payload"],as_index=False)["day_space_association"].agg(total_day_scaled = "sum")

    # For each payload, get the space_name with highest association (higgest total_scaled_day)
    idx2 = quarter_purpose.groupby(["payload"])["days_home_scaled"].transform("max") == quarter_purpose.days_home_scaled
    potential_home = quarter_purpose[idx2]

    home_association = potential_home.merge(total_scaled_day, how="left", on = "payload")
    # association = days_home_scaled / total_day_scaled
    home_association["association"] = home_association.days_home_scaled / home_association.total_day_scaled
    return home_association

In [43]:
home_association = findHome(ocq_res_check)
resident_df = home_association[home_association.association >= 0.8]
resident_df.space_name.value_counts()

space_name
STATS      341
INF        135
ML         118
ISG        113
MNS         61
Systems     42
STAFF       36
Name: count, dtype: int64

In [44]:
resident = resident_df.payload.unique()

In [45]:
cs_resident = resident_df[resident_df.space_name.isin(cs_groups)].payload.unique()

### Loop through all quarter

In [40]:
summary = []
total_conference = []
res_conference = []
floor1_payload = []
floor2_payload = []

for quarter in quarter_no_summer:
    
    print(quarter + ":-----------------")
    start_time = calendar17_18_19[quarter][0]
    end_time = calendar17_18_19[quarter][1] + timedelta(days=1) - timedelta(seconds=1)

    ob_clean_quarter = getObCleanOfQuarter(start_time, end_time)
    total_payload = ob_clean_quarter.payload.nunique()

    getFeaturesFromTimestamp(ob_clean_quarter)
    quarter_days = ob_clean_quarter.date.nunique()
    
    ob_clean_quarter = ob_clean_quarter.merge(q_week, on=["year", "calendar_week"], how= "left")
    ob_clean_quarter = ob_clean_quarter.merge(rtc121, on="sensor_id", how="left")

    df_grouped = getGroupedFeatures(ob_clean_quarter)
    df_grouped = getLastFirstSeenFromDateRange(df_grouped, lost_dates)
    
    visitor = getVisitor(df_grouped, quarter_days)

    ocq_no_vis = ob_clean_quarter[~(ob_clean_quarter.payload.isin(visitor))]
    
    static = getStatic(ocq_no_vis)
    
    total_conference.append(getFridayConferenceVisit(ob_clean_quarter[~(ob_clean_quarter.payload.isin(static))], quarter))

    ocq_res_check = ocq_no_vis[~(ocq_no_vis.payload.isin(static))].drop(["year", "timestamp", "sensor_id"], axis=1).drop_duplicates()

    home_association = findHome(ocq_res_check)
    
    resident_df = home_association[home_association.association >= 0.8]
    resident = resident_df.payload.unique()
    for group in cs_groups:
        group_res = resident_df[resident_df.space_name == group].payload.unique()
        group_conference = getFridayConferenceVisit(ob_clean_quarter[(ob_clean_quarter.payload.isin(group_res))], quarter)
        group_conference.insert(loc = 1, column="group", value=group)
        res_conference.append(group_conference)

    visitor = np.union1d(visitor, home_association[~(home_association.association >= 0.8)].payload.unique())
    # label: 0: visitor, 1: resident, 2: static
    df_grouped.loc[df_grouped.payload.isin(static), "label"] = 2
    df_grouped.loc[df_grouped.payload.isin(visitor), "label"] = 0
    df_grouped.loc[df_grouped.payload.isin(resident), "label"] = 1

    to_save = df_grouped.merge(resident_df[["payload", "space_name"]], how="left", on="payload").rename(columns={"space_name" : "group"})
    to_save.drop("date_range", axis=1).to_csv("quarter_classification/" + quarter + "_r1_v0.csv", index=False)

    row = pd.DataFrame({
        "quarter" : [quarter],
        "resident" : [len(resident)],
        "static" : [len(static)],
        "visitor" : [len(visitor)],
        "total" :[total_payload],
        "unlabeled" : [total_payload - len(resident) - len(static) - len(visitor)]
    })

    res_count = pd.DataFrame(resident_df.space_name.value_counts()).pivot_table(columns="space_name", values="count")
    row = pd.concat([row, res_count.reset_index().drop("index", axis = 1)], axis=1)
    summary.append(row)

f17:-----------------
w18:-----------------
s18:-----------------
f18:-----------------
w19:-----------------
s19:-----------------

In [43]:
summary_df = pd.concat(summary, ignore_index= True)
total_conference_df = pd.concat(total_conference, ignore_index= True)
res_conference_df = pd.concat(res_conference, ignore_index= True)
floor1_payload_df = pd.concat(floor1_payload)
floor2_payload_df = pd.concat(floor2_payload)

In [44]:
weeks = {i : "week" + str(i) for i in range(12)}
weeks_list = list(weeks.values())
weeks_with_total = list(weeks.values())
weeks_with_total.append("total_unique_payload")

In [45]:
summary_df

,quarter,resident,static,visitor,total,unlabeled,CLASS,INF,ISG,ML,MNS,STAFF,STATS,Systems
0,f17,3561,117,34243,37921,0,3044.0,118.0,80.0,110.0,53.0,26.0,77.0,53.0
1,w18,616,160,31545,32321,0,42.0,117.0,81.0,128.0,65.0,32.0,105.0,46.0
2,s18,846,166,27682,28694,0,NaN,135.0,113.0,118.0,61.0,36.0,341.0,42.0
3,f18,735,137,28216,29088,0,NaN,132.0,112.0,130.0,53.0,43.0,227.0,38.0
4,w19,767,149,27373,28289,0,NaN,145.0,116.0,151.0,60.0,41.0,237.0,17.0
5,s19,950,96,19340,20386,0,507.0,88.0,87.0,100.0,49.0,36.0,70.0,13.0

In [46]:
summary_df["resident_no_student"] = summary_df.resident - summary_df.CLASS.fillna(0)
summary_df

,quarter,resident,static,visitor,total,unlabeled,CLASS,INF,ISG,ML,MNS,STAFF,STATS,Systems,resident_no_student
0,f17,3561,117,34243,37921,0,3044.0,118.0,80.0,110.0,53.0,26.0,77.0,53.0,517.0
1,w18,616,160,31545,32321,0,42.0,117.0,81.0,128.0,65.0,32.0,105.0,46.0,574.0
2,s18,846,166,27682,28694,0,NaN,135.0,113.0,118.0,61.0,36.0,341.0,42.0,846.0
3,f18,735,137,28216,29088,0,NaN,132.0,112.0,130.0,53.0,43.0,227.0,38.0,735.0
4,w19,767,149,27373,28289,0,NaN,145.0,116.0,151.0,60.0,41.0,237.0,17.0,767.0
5,s19,950,96,19340,20386,0,507.0,88.0,87.0,100.0,49.0,36.0,70.0,13.0,443.0

In [50]:
for quarter in quarter_no_summer:
    for group in cs_groups:
        res_conference_df.loc[(res_conference_df.group == group) &
                              (res_conference_df.quarter == quarter), "total_group_res"] = summary_df[summary_df.quarter == quarter][group].values[0]

In [51]:
res_conference_df.quarter.unique()

array(['f17', 'w18', 's18', 'f18', 'w19', 's19'], dtype=object)

In [52]:
conference = res_conference_df.merge(total_conference_df, on=["quarter", "quarter_week"], how="left").rename({"payload_x" : "group_conference_attendance",
                                                                                                 "payload_y" : "total_conference_attendance"}, axis = 1)

In [110]:
conference

,quarter,group,quarter_week,group_conference_attendance,total_group_res,total_conference_attendance
0,f17,ISG,4,12,68.0,184
1,f17,ISG,7,9,68.0,153
2,f17,ISG,9,15,68.0,163
3,f17,ISG,10,8,68.0,134
4,f17,ML,4,17,75.0,184
...,...,...,...,...,...,...
118,w19,Systems,2,1,10.0,152
119,w19,Systems,7,2,10.0,155
120,s19,ISG,7,8,67.0,83
121,s19,MNS,7,6,40.0,83
122,s19,Systems,7,2,9.0,83

In [55]:
conference.to_csv("conference.csv", index=False)

In [56]:
summary_df.to_csv("summary.csv", index= False)